body { background: #2dbd82; margin: 0; font-family: sans-serif; }
.cloud-dashboard { padding: 51px; display: flex; }
.block-email-0 { color: #d7c5fa; font-size: 17px; margin-bottom: 5px; }
.block-cluster-1 { color: #2bb91e; font-size: 12px; margin-bottom: 5px; }
.block-invoice-2 { color: #2487f6; font-size: 13px; margin-bottom: 5px; }
.block-config-3 { color: #67a26f; font-size: 14px; margin-bottom: 5px; }
.block-helper-4 { color: #15a511; font-size: 19px; margin-bottom: 5px; }